body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(30, 54%, 90%);
}

.main-wrapper {
  background-color: hsl(0, 0%, 100%);
  width: 500px;
  padding: 30px;
  margin: 50px auto;
  border-radius: 20px;
}

.main-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.main-wrapper h1 {
  font-family: "Young Serif", arial, sans-serif;
  font-weight: 400;
}

.main-wrapper p.sub-head,
.nutrition-wrapper p {
  font-family: "Outfit", arial, sans-serif;
  font-size: 0.75em;
}

.preparation-time-wrapper {
  background-color: hsl(330, 100%, 98%);
  padding: 15px;
  border-radius: 5px;
}

.preparation-time-wrapper ul {
  margin: 10px 0;
  padding: 0px 0px 0px 20px;
}

.preparation-time-wrapper ul li,
.instructions-wrapper ol li {
  font-size: 12px;
  font-family: "Outfit";
  margin: 10px 0;
  padding-left: 7px;
}

li::marker,
ol li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: bold;
}

.preparation-time-wrapper ul li span,
.instructions-wrapper ol li span {
  font-weight: bold;
}

.preparation-time-wrapper .info-preparation-time {
  margin: 0;
  color: hsl(332, 51%, 32%);
  font-family: "Outfit";
  font-weight: 600;
  font-size: 0.938em;
}

.ingredients-wrapper ul,
.instructions-wrapper ol {
  padding: 0px 0px 0px 15px;
}

.ingredients-wrapper ul li {
  font-size: 12px;
  font-family: "Outfit";
  margin: 10px;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif";
  font-weight: 400;
  margin: 10px 0;
}

.divider {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.calories,
.carbs,
.protein,
.fat {
  display: flex;
  align-items: center;
}

.calories p.name,
.carbs p.name,
.protein p.name,
.fat p.name {
  margin-left: 30px;
}

.nutrition-wrapper p.value1 {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
  margin-left: 150px;
}

.nutrition-wrapper p.value2 {
  margin-left: 165px;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.nutrition-wrapper p.value3,
.nutrition-wrapper p.value4 {
  margin-left: 160px;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.nutrition-wrapper p.value4 {
  margin-left: 180px;
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}
